!!!
html
  head
    title Dope cukes, yo.
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|PT+Sans:400,700,400italic,700italic',rel='stylesheet',type='text/css')
    link(href='screen.css',rel='stylesheet',type='text/css')
  body
    .container
      nav navigation
      section(class="features")!=features
